# Markdowns
## Markdowns
### Markdowns
#### Markdowns
##### Markdowns
###### Markdowns

####### Markdowns

#### For italic and bold
* *Point1*
* **Point1**
* ***Point1***

- Normal Point
    - subtext1
    - subtext2

![image](https://image.shutterstock.com/image-photo/colorful-flower-on-dark-tropical-260nw-721703848.jpg)

* [1]
[1]:https://drive.google.com/drive/my-drive

[1](https://drive.google.com/drive/my-drive)

In [2]:
print("Hello,Gitam")
print("Hi")

Hello,Gitam
Hi

In [3]:
print("Hello,Gitam",end="///")
print("Good Morning")

Hello,Gitam///Good Morning

# Assignment

In [14]:
d =10 
a = b = c == 1 
a, b, c = 1,2,3
a

NameError: name 'c' is not defined

In [5]:
a = "Python"
b = "P"
type(a)
c = 10
type(c)

int

In [7]:
a = 10.5
print(type(a))
id(a)

<class 'float'>

74994592

In [8]:
a = 10
b = 10
print(id(a))
id(b)

1955318064

1955318064

In [9]:
name = "abc"
age = "10"
print("My name is", name, "and age is", age)

My name is abc and age is 10

In [10]:
a = b = 20

In [11]:
a

20

In [12]:
b

20

In [16]:
a = input("enter a string")
type(a)

enter a stringPython

str

In [17]:
b = input("enter a number")
type(b)

enter a number123

str

In [18]:
c = input(input("enter a number"))
type(c)

enter a number123
123123

str

In [1]:
c = int(input("enter a number"))
type(c)

enter a number123

int

In [2]:
d = float(input("enter a number"))
type(d)

enter a number123

float

In [3]:
a = int(input("enter a number"))
b = int(input("enter a number"))
c = a+b
print(c)

enter a number1
enter a number4
5

In [4]:
a = int(input("enter a number"))
b = int(input("enter a number"))
c = a-b
print(c)

enter a number10
enter a number6
4

In [5]:
a = int(input("enter a"))
b = int(input("enter b"))
c = a*b
print(c)

enter a5
enter b9
45

In [8]:
x = 10
print(x)
type(x)

10

int

In [9]:
y = 1.2
print(y)
type(y)

1.2

float

In [10]:
z = 2+3j
print(z)
type(z)

(2+3j)

complex

In [11]:
x = float(12)
x

12.0

In [12]:
y = complex(2,3)
y

(2+3j)

In [13]:
c1 = 1+2j
c2 = 2+3j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(3+5j)
(-1-1j)
(-4+7j)

In [14]:
a = True
type(a)

bool

In [15]:
b = False
type(b)

bool

In [16]:
a>b

True

In [17]:
a<b

False

In [18]:
True>False

True

In [19]:
s1 = "abc"
s2 = 'abc'
print(s1)
s2

abc

'abc'

In [20]:
type(s1)
type(s2)

str

In [21]:
i = 100
print(type(i))

<class 'int'>

In [22]:
s1 = str(i)
print(s1)
type(s1)

100

str

In [23]:
f1 = float(i)
print(f1)
type(f1)

100.0

float

In [24]:
s = "100"
print(type(s))

<class 'str'>

In [25]:
a = int(s)
type(a)

int

In [26]:
f = 1.5
type(f)

float

In [27]:
a1 = int(f)
type(a1)

int

In [28]:
a = '1234'
len(a)

4

# Operators:

# 1. Arithmetic Operators : +,-,*,/,%,//,**
# 2. Logical Operators : and, or, not
# 3. Relational Operators : <, <=, >, >=, ==
# 4. Membership Operators : in, not in

# 1. Arithmetic Operators : +,-,*,/,%,//,**
# + - Addition
# - - Subtraction
# * - Multiplication
# / - Division
# % - Modular Division
# // - Floor Division
# ** - Exponential

In [29]:
n1 = 10
n2 = 20
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1/n2)
print(n1%n2)
print(n1//n2)
print(n1**n2)

30
-10
200
0.5
10
0
100000000000000000000

In [30]:
4/2

2.0

In [31]:
4%2

0

In [32]:
4*2

8

In [33]:
4**2

16

In [34]:
4//2

2

In [35]:
12/5

2.4

In [36]:
12//5

2

In [37]:
-12//5

-3

In [38]:
-12/5

-2.4

In [40]:
x = 2
y = 3
print(x>=5 and x<10)
print(x>=5 or x<=10)
print(not(x))

False
True
False

In [42]:
x = 14
y = 10
print(x>=5 and x<15)
print(x>=5 or x<=15)
print(not(x))

True
True
False

In [44]:
x = 2
y = 3
print(x==y)
print(x!=y)
print(x<y)
print(x<=y)
print(x>=y)
print(x>y)

False
True
True
True
False
False

In [45]:
str1 = "abc"
print('a' in str1)
print('a' not in str1)

True
False

# Conditional Statements:
        * 1. if
        * 2. if-else
        * 3. elif

# Syntax:
- if condition:
    - statements
    
- else:
    - statements

# Syntax (if):
- if conditon:
    - statements

# Syntax: (elif) else part is optional in
- if condition:
    - statements
- elif:
    - statements
- elif:
    - statements
- elif:
    - statements
- else:
    - statements

In [46]:
a = 10
if a>0:
    print("positive")

positive

In [49]:
a = -40

if a>0:
    print("positive")
else:
    print("negative")

negative

In [50]:
a = 0
if a>0:
    print("positive")
elif a<0:
    print("negative")
else:
    print("zero")

zero

In [51]:
a = int(input("Enter a number"))
if a>0:
    print("positive")
elif a<0:
    print("negative")
else:
    print("zero")

Enter a number5
positive

# to check given number is odd or even
# to check given number is multiple of 3 and 5
# check the input is a leap year or not
# take three numbers as input, and find the biggest of three numbers
# Read the character and find whether is a vowel or consonant